.avatarCard {
    width: 18rem;
    float: right;
    margin-top: -250px;
    margin-right: 250px;
    color: beige;
}

.card-img-top {
    height: 8%;
    width: 80%;
}

.collection-btn {
    float: right;
    margin: 20px;
    width: 300px;
    font-size: 24px;
    color: #033469;
}

h5.card-title {
    color: beige;
}