.avatarCard {
    width: 18rem;
    float: right;
    margin-top: -250px;
    margin-right: 250px;
    color: black;
    border: solid 2px black;
    padding: 20px;
    background-color: beige;
}

.imgWrapper {
    padding: 10px;
    text-align: center;
}

.card-img-top {
    height: 8%;
    width: 80%;
}

.collection-btn {
    width: 250px;
    font-size: 24px;
    color: #033469;
    margin-bottom: 5px;
}

h5.card-title {
    color: black;
}

.btn-primary {
    width: 250px;
    font-size: 24px;
    color: #033469;
}