.userCollections {
    border: 2px solid black;
    margin: 50px;
    width: 800px;
    height: 600px;
    padding: 20px;
    background-color: beige;
    color: #033469;
}

.card-body {
    
}