.avatarCard {
    width: 18rem;
    float: right;
    margin-top: 50px;
    margin-right: 250px;
    color: black;
    border: solid 2px black;
    padding: 20px;
    background-color: beige;
    text-align: center;
    z-index: 2;
}

.imgWrapper {
    padding: 30px;
    text-align: center;
    border: solid 2px black;
}

.card-img-top {
    height: 8%;
    width: 80%;
    border-radius: 50%;
}

.collection-btn {
    width: 250px;
    font-size: 24px;
    color: #033469;
    margin-bottom: 5px;
    margin-left: -22px;
}

h5.card-title {
    color: black;
}

.btn-primary {
    width: 250px;
    font-size: 24px;
    color: #033469;
    margin-left: -22px;
}