h1{
  font-family: 'Lobster Two', cursive;
  color: #011A42;

}

p, button, .card-title{
  font-family: Amaranth;
  color: beige;
}

.btn {
  color: #011A42;
  margin: 5px;
}

a.signUp {
  font-weight: bold;
  background-color: #343a40;
  color: beige;
}

.card-footer {
  background-color: #343a40;
  color: beige;
}
a:hover {
  color: #011A42
}