.nav-tabs {
    background-color: #011A42;
    color: white;
}

    .navContainerBar {
        border-bottom: solid 4px white;
    }

    .navContainerBar {
        color: white;
    }

    #logo {
        color: beige;
        margin: 0px 15px 15px 15px;
    }

    .nav-link {
        color: lightblue;
        font-weight: bold;
    }

    .userIcon {
        float: right;
        height: 50px;
        width: 40px;
        border-radius: 40%;
        background-color: white;
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 18px;
    }